body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  font-family: 'Poiret One', cursive;
  height: 520px;
}
h1 {
  margin-top: 0px;
}
#mButton {
  display: none;
}
#audioplayer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 50px auto auto auto;
}
.rotateAnimate {
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
}
.stopAnimation {
  animation-play-state: paused;
}
@keyframes example {
  0%   {transform: rotate(360deg)};
}
#spinner-two {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
#pButton{
  height:60px;
  width: 60px;
  border: none;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  float:left;
  outline:none;
  display: none;
}

#master-play {
  height: 60px;
  width: 60px;
}
