#audioplayer2{
    width: 480px;
    height: 60px;
    margin: 50px auto auto auto;
  border: solid;
}

#pButton2{
    height:60px;
    width: 60px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
}

.play2{background: url('http://www.alexkatz.me/codepen/img/play.png') ;}
.pause2{background: url('http://www.alexkatz.me/codepen/img/pause.png') ;}

#timeline2{
    width: 400px;
    height: 20px;
    margin-top: 20px;
    float: left;
    border-radius: 15px;
    background: rgba(0,0,0,.3);

}
#playhead2{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-top: 1px;
    background: rgba(0, 0, 0,1);

}
